@{
    ViewBag.Title = "display";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body background="../../Images/export-map-share.png" style="background-size:cover">
    <canvas id="page_canvas" style="width:100%; height:100%;"></canvas>
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script>
    var IntervalTime = @Session["timesPerSec"] * 1000
    var last_lat = null;
    var last_lon = null;
    var canvas = document.getElementById("page_canvas");
    var canvas_context = canvas.getContext("2d");
    var image = document.getElementById("map");


    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    canvas_context.fillStyle = "red";
    canvas_context.lineWidth = "5";
    canvas_context.strokeStyle = "red";

    myTimer = (function () {
        $.post( "@Url.Action("GetInfo")").done(function (xml) {
            @*var xmlDoc = $.parseXML( xml ),
            $xml = $( xmlDoc ),
            lon = $xml.find("Lon").text();
            lat = $xml.find("Lat").text();*@

            var lon = @Session["lon"]
            var lat = @Session["lat"]

            var lon_val = parseFloat(lon.valueOf());
            var normalized_lon = ((lat_val + 180) / (2 * 180)) * canvas.width;

            var lat_val = parseFloat(lat.valueOf());
            var normalized_lat = ((lat_val + 90) / (2 * 90)) * canvas.height;


            canvas_context.beginPath();
            canvas_context.arc(normalized_lon, normalized_lat, 10, 0, 2 * Math.PI)
            canvas_context.fill();
            canvas_context.stroke();

            if (last_lat != null && last_lon != null) {
                canvas_context.beginPath();
                canvas_context.moveTo(last_lo, last_lat);
                canvas_context.lineTo(normalized_lon, normalized_lat);
                canvas_context.stroke();
            }

            last_lon = normalized_lon;
            last_lat = normalized_lat;
        });
    });

    myTimer();
    setInterval(myTimer, IntervalTime);
    myTimer();

    /*window.onload = function () {
        canvas_context.translate(0, 0);
        ctx.drawImage(image, 0, 0, image.width, image.height);

    };*/
    </script>
</body>
</html>