@{
    ViewBag.Title = display;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>

<div>
    <canvas id="page_canvas" width="0" height="0"></canvas>
    <img id="map" src="~/map.png" alt="world map">
</div>

<script>
    src = "http://code.jquery.com/jquery-1.11.0.min.js"

    var IntervalTime = @Session["time"] * 1000
    myTimer = (function () {
        $.post( "@Url.Action("GetInfo")").done(function (xml) {
                var xmlDoc = $.parseXML( xml ),
                $xml = $( xmlDoc ),
                FirstName = $xml.find( "Lat" ).text();
                LastName = $xml.find( "Lon" ).text();

                var canvas = document.getElementById("page_canvas");
                var canvas_context = canvas.getContext("2d");
        });
    });
</script>