@{
    ViewBag.Title = "display1";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body background="~/Images/export-map-share.png" style="background-size:cover">
    <canvas id="page_canvas" style="width:100%; height:100%;"></canvas>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        var IntervalTime = @Session["timesPerSec"] * 1000
        var canvas = document.getElementById("page_canvas");
        var canvas_context = canvas.getContext("2d");
        var image = document.getElementById("map");
        var last_lat = null;
        var last_lon = null;
        var first_lat = parseFloat(@Session["lat"]);
        var first_lon = parseFloat(@Session["lon"]);
        // var first_lat = 20;
        // var first_lon = -150;


        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        canvas_context.fillStyle = "red";
        canvas_context.lineWidth = "3";
        canvas_context.strokeStyle = "red";

        first_lat = ((first_lat + 90) / (2 * 90)) * window.innerHeight;
        first_lon = ((first_lon + 180) / (2 * 180)) * window.innerWidth;

        myTimer = (function () {
            $.post( "@Url.Action("GetInfo")").done(function (xml) {
                var xmlDoc = $.parseXML( xml ),
                $xml = $( xmlDoc ),
                lon = $xml.find("Lon").text();
                lat = $xml.find("Lat").text();

                // var lon_val = Math.floor(Math.random() * (180 + 180 + 1)) - 180;
                var lon_val = parseFloat(lon.valueOf());
                var normalized_lon = ((lon_val + 180) / (2 * 180)) * canvas.width;

                // var lat_val = Math.floor(Math.random() * (90 + 90 + 1)) - 90;
                var lat_val = parseFloat(lat.valueOf());
                var normalized_lat = ((lat_val + 90) / (2 * 90)) * canvas.height;

                canvas_context.beginPath();
                canvas_context.moveTo(last_lon, last_lat);
                canvas_context.lineTo(normalized_lon, normalized_lat);
                canvas_context.stroke();

                last_lon = normalized_lon;
                last_lat = normalized_lat;
            });
        });

        canvas_context.beginPath();
        canvas_context.arc(first_lon, first_lat, 10, 0, 2 * Math.PI)
        canvas_context.fill();
        canvas_context.stroke();

        last_lon = first_lon;
        last_lat = first_lat;

        if (IntervalTime != 0) {
            setInterval(myTimer, IntervalTime);
        }
    </script>
</body>
</html>