@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            background-image: url("../../Images/export-map-share.png");
            height: 100%;
            width: 100%;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
</body>
</html>